.bannercolchones__h1, .bannersommier__h1, .bannerQuienes__titulo, .bannerContactanos__h1 {
  font-size: 30px;
  padding: 30px 10px;
  letter-spacing: 17px; }

.botonColchones, .button__sommier {
  padding: 12px 24px;
  margin-top: 20px;
  background-Color: #0B243B;
  border-Radius: 7px;
  outline: 2px solid #0B243B;
  outline-offset: 2px;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1); }

* {
  margin: 0;
  padding: 0; }

#logotipo {
  margin: 0;
  background-color: #222221; }

.logotipo__img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  object-fit: cover; }

.navbar {
  background-color: #222221; }

.container-fluid1 {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between; }

.navbar-light .navbar-nav .nav-link {
  color: #ffff;
  font-size: 1.5rem; }

.navbar-light .navbar-nav .nav-link.active {
  color: #ffffff;
  font-size: 1.5rem; }

.navbar-collapse {
  margin-top: 10px; }

.d-flex {
  margin-left: 300px; }

.form-control {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.btn-outline-success {
  color: #fff;
  background-color: #4CADC9;
  border-color: #4CADC9; }

.banner {
  padding: 100px 120px;
  background-image: url(../imagenes/bannercama6.png);
  background-size: cover; }
  .banner__titulo {
    font-size: 30px;
    padding: 30px 10px;
    letter-spacing: 15px;
    font-family: "MangoSans",sans-serif; }

.promociones__divtitulo {
  font-size: 40px;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #000;
  margin-top: 50px; }

/*Carrusel */
.carouselGallery {
  margin: calc(4vw + 4vh) auto calc(2vw + 2vh) auto; }

.carouselGallery__imgContainer {
  padding: 0; }

.carouselGallery__img {
  border: .5rem solid transparent;
  border-image: 1px solid #F2F2F2;
  border-image-slice: 1;
  cursor: pointer;
  transition: 5ms;
  margin: auto;
  width: 80%;
  max-width: MIN(350px, 22vw);
  min-width: 280px;
  height: auto;
  box-sizing: content-box;
  outline: 1px solid transparent;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  perspective: 1000;
  cursor: none; }

.carouselGallery__img:hover,
.carouselGallery__img:focus {
  border: .5rem solid;
  animation: borderAnimation 2000ms linear infinite;
  box-shadow: none; }

.carouselGallery__prev {
  left: -4%; }

.carouselGallery__prev__icon {
  opacity: .5;
  background-color: rgba(25, 29, 50, 0.5); }

.carouselGallery__next {
  right: -4%; }

.carouselGallery__next__icon {
  opacity: .5;
  background-color: rgba(25, 29, 50, 0.5); }

.carouselGalleryB,
.carouselGalleryC {
  display: none; }

.container-fluid {
  width: 92%; }

.container-fluid {
  width: 92%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto; }

.carousel2 {
  display: none; }

/*Promociones */
.promociones {
  background-color: white; }
  .promociones__div {
    margin-bottom: 50px; }
  .promociones__titulo {
    font-size: 60px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #0B0B61;
    margin-top: 10px; }

.contenedor {
  /* width: 80%; */
  margin-left: 7rem;
  display: grid;
  grid-template-areas: "buzios zafiro casablanca" "casazul casaverde casarosa";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  /* padding: 40px;*/ }

.contenedor__p-descripion {
  justify-content: center;
  padding: 2px;
  text-align: center;
  height: 50px;
  width: 440px; }

section.contenedor {
  width: 200px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #b8b8b8; }

.uno {
  grid-area: buzios; }

.dos {
  grid-area: zafiro; }

.tres {
  grid-area: casablanca; }

.cuatro {
  grid-area: casazul; }

.cinco {
  grid-area: casaverde; }

.seis {
  grid-area: casarosa; }

.contenedor__imagenPrincipal {
  /*width: 250px;*/
  border-radius: 10px; }

.contenedor__buttoncash {
  padding: 12px 24px;
  margin-top: 30px;
  background-Color: #0B243B;
  border-Radius: 7px;
  outline: 2px solid #0B243B;
  outline-offset: 2px;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1); }

.contenedor__buttoncash:hover {
  transform: scale(1.1); }

.contenedor__buttoncash:active {
  transform: scale(0.9); }

.contenedor__buttoncash a {
  text-decoration: none;
  color: #D8D8D8; }

.contenedor__p-descripion {
  width: 300px;
  font-size: 15px;
  text-align: left; }

#consejos {
  display: grid; }

.contenedor__consejos {
  font-family: "Rubik", verdana, sans-serif;
  font-weight: 800;
  /*font-style: normal;*/
  font-size: 25px;
  background-color: #4CADC9;
  color: #ffffff;
  /*text-shadow: 0 0 0.4rem #0489B1;*/
  text-align: center;
  margin-top: calc(2vw + 2vh); }

.contenedor__consejo1 {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 20px 0; }

.contenedor__consejop {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 10px 0px; }

.promociones__titulo1 {
  font-size: 40PX;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #000;
  margin-top: 150px; }

/*Tabla*/
.consejos__tabla {
  margin: 90px 60px 0 60px;
  border-collapse: collapse; }

table,
th {
  background-color: #9499c4;
  border: 1px solid #0B2161; }

table,
td {
  background-color: white;
  border: 1px solid #0B2161; }

.contenedor__consejos2 {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: left;
  margin-left: 3rem;
  margin-top: 50px;
  word-spacing: 2px; }

.contenedor__consejoTitulo {
  color: #000;
  font-family: "Oswald", sans-serif; }

.contenedor__parrafo {
  color: #888888; }

/*Carrusel 2 */
.carrusel {
  background-color: #FFFFFF;
  /* width: 80%; 
    margin-left: 10%; */ }

.d-block1 {
  width: 500px;
  margin-left: 350px;
  margin-bottom: 40px; }

.carousel-control-prev-icon {
  color: #000; }

.carousel-control-next {
  color: #BDBDBD; }

.mediosdepago__texto {
  color: #000;
  margin-top: 50px;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif; }

/*FOOTER */
.pie {
  display: inline-flex;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  min-height: 20vh;
  background-color: #222221;
  text-decoration: none;
  margin-top: 10px; }
  .pie__titulo {
    margin: 10px;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: #ffff; }
    .pie__titulo__flex2 {
      font-size: 15px; }
  .pie .pie__divdato {
    display: block;
    flex-wrap: wrap;
    align-self: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: #ffff; }
  .pie__item {
    list-style: none; }
  .pie__datoa {
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    color: #ffff; }
  .pie__new {
    justify-content: left;
    font-family: "Oswald", sans-serif;
    color: #ffff;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize; }

.mapa {
  color: #ffff;
  text-decoration: none;
  list-style: none; }
  .mapa__titulo {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    margin-top: 1rem; }

.bannercolchones {
  padding: 100px 120px;
  width: 100%;
  height: 300px;
  background-image: url(../imagenes/bannercolchones.png);
  background-size: cover; }

.nuestros_colchonesdiv {
  font-family: "Oswald", sans-serif; }

.nuestros__colchones {
  font-family: 'Merriweather', serif;
  font-size: 60px;
  text-align: center;
  color: #000;
  margin-top: 2rem; }

.historia {
  margin-left: 2rem;
  margin-top: 7rem;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-size: 30px;
  color: #000;
  text-align: center; }

#colchonContenedor {
  width: 80%;
  margin: 30px 200px;
  display: grid;
  justify-content: space-evenly;
  grid-template-areas: "matter1 matter2 matter3" "matter4 matter5 matter6";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px; }

section.contenedor1 {
  width: 200px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #b8b8b8; }

.unocolchon {
  grid-area: matter1; }

.doscolchon {
  grid-area: matter2; }

.trescolchon {
  grid-area: matter3; }

.cuatrocolchon {
  grid-area: matter4; }

.cincocolchon {
  grid-area: matter5; }

.seiscolchon {
  grid-area: matter6; }

.imagenColchon {
  width: 250px;
  border-radius: 10px; }

.colchon__parrafo {
  font-size: 15px;
  width: 100%;
  padding-right: 100px;
  text-align: left; }

.botonColchones {
  padding: 12px 24px;
  margin-top: 30px;
  background-Color: #0B243B;
  border-Radius: 7px;
  outline: 2px solid #0B243B;
  outline-offset: 2px;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1); }

.botonColchones {
  color: #ffff; }

.botonColchones:hover {
  transform: scale(1.1); }

.botonColchonesactive {
  transform: scale(0.9); }

.botonbotonColchones a {
  text-decoration: none;
  color: #D8D8D8; }

.consejos2 {
  padding: 50px 30px;
  justify-content: space-around; }

.consejo__informacion {
  text-align: left;
  color: #000; }

.consejo__parrafo {
  color: #888888;
  font-family: "Oswald", sans-serif; }

.consejos2__informacion {
  margin-top: 10px;
  color: #000;
  font-family: "Oswald", sans-serif; }

.consejos2__titulo {
  display: flex;
  justify-content: center;
  font-size: 30px; }

.datosColchones {
  margin-left: 2rem; }

.dato__conteiner {
  /*width: $max-width;*/
  margin: 30px 80px;
  display: grid;
  justify-content: space-between;
  grid-template-areas: "descanso" "descanso1" "descanso2";
  grid-template-columns: 1fr 1fr 1fr; }

.uno {
  grid-area: descanso; }

.dos {
  grid-area: descanso1; }

.tres {
  grid-area: descanso2; }

.dato__titulo {
  margin-top: 35px;
  color: #000;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center; }

.dato__text1 {
  font-size: 15px;
  width: 100%;
  padding-right: 100px;
  text-align: left; }

.dato__text2 {
  font-size: 15px;
  width: 100%;
  padding-right: 100px;
  text-align: left;
  margin-bottom: 4rem; }

.dato__text3 {
  font-size: 15px;
  width: 100%;
  padding-right: 100px;
  text-align: left;
  margin-bottom: 5rem; }

.dato__parrafo {
  color: #000;
  font-size: 1.5rem; }

.dato__primero:hover .dato__primeroImg {
  -webkit-transform: scale(0.3);
  transform: scale(1.3); }

.dato__primero {
  overflow: hidden; }

.dato__ref {
  text-decoration: none;
  color: #9077d4; }

.bannersommier {
  padding: 100px 200px;
  background-image: url(../imagenes/bannercolchones.png);
  background-size: cover;
  height: 300px; }

.opciones__sommier {
  margin-bottom: 5rem;
  margin-left: 10px;
  font-size: 60px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #000; }

.text-center2 {
  color: #000;
  margin-left: 10rem; }

.accordion {
  margin-left: 10rem;
  width: 75%; }

#collapseOne {
  color: #380B61; }

#collapseTwo {
  color: #380B61; }

#collapseThree {
  color: #380B61; }

.opciones__sommier2 {
  margin-top: 6rem;
  margin-left: 10rem;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: #000; }

#SommierContenedor {
  width: 90%;
  /* margin: 30px 80px;*/
  margin-left: 9rem;
  display: grid;
  grid-template-areas: "sommier1 sommier2 sommier3" "sommier4 sommier5 sommier6";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px; }

section.sommier {
  width: 200px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #b8b8b8; }

.unosommier {
  grid-area: sommier1; }

.dossommier {
  grid-area: sommier2; }

.tressommier {
  grid-area: sommier3; }

.cuatrosommier {
  grid-area: sommier4; }

.cincosommier {
  grid-area: sommier5; }

.seissommier {
  grid-area: sommier6; }

.imagenSommier {
  width: 250px;
  border-radius: 10px; }

.button__sommier {
  padding: 12px 24px;
  margin-top: 30px;
  background-Color: #0B243B;
  border-Radius: 7px;
  outline: 2px solid #0B243B;
  outline-offset: 2px;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1); }

.button__sommier {
  color: #fff; }

.button__sommier:hover {
  transform: scale(1.1); }

.button__sommiersactive {
  transform: scale(0.9); }

.button__sommier a {
  text-decoration: none;
  color: #D8D8D8; }

.info__elegir {
  margin-bottom: 1rem;
  color: #000; }

.titulo__info {
  color: #000;
  font-size: 3rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-left: 3rem; }

.text-sm-start {
  margin-bottom: 2rem;
  margin-left: 3rem;
  font-size: 20px;
  color: #888888; }

.bannerQuienes {
  padding: 100px 120px;
  background-image: url(../imagenes/bannernosotros.png);
  background-size: cover; }

.nosotrosFoto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
  content: 80%;
  width: 100%; }

.nosotrosFoto__foto1 {
  margin-left: 100px;
  z-index: 1; }

.nosotros__texto {
  height: 307px;
  width: 549px;
  background-color: #bca294;
  opacity: 90%;
  padding: 20px;
  margin: -100px;
  border: 1px solid #000000;
  z-index: 2; }
  .nosotros__texto__titulo {
    text-align: center;
    font-size: "Oswald", sans-serif;
    color: #dfd4ce;
    text-transform: uppercase; }
  .nosotros__texto__parrafo {
    color: #dfd4ce;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    line-height: 25px; }

.bannerContactanos {
  padding: 100px 120px;
  background-image: url(../imagenes/bannerContacto.png);
  background-size: cover; }

.contactInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: calc(4vw + 4vh) auto calc(2vw + 2vh) auto; }

.contactInfo__gmap {
  width: 45vw;
  max-width: 80vw;
  height: 50vh;
  border: 0.1rem solid #191D32;
  border-radius: calc(.5vw + .5vh); }

.contactInfo__ul {
  text-align: left;
  width: 45vw;
  max-width: 80vw;
  color: #191D32;
  font-family: "Rubik", verdana, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  list-style: none; }

.contactInfo__li {
  margin: 2.5vw; }

.text__h3 {
  display: flex;
  font-family: "Rubik", verdana, sans-serif;
  font-weight: 800;
  font-size: 23px;
  background-color: #6db4bf;
  color: #ffffff;
  width: 100%;
  height: 5rem;
  text-align: center;
  margin-top: calc(2vw + 2vh); }

.text__texto {
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  margin-left: 90px;
  margin-top: 20px; }

.flex__conteiner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: #FBF5EF;
  margin: 50px 50px;
  margin-left: 15rem;
  width: 60%; }

.formulario {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: #F2F2F2; }

.form__input {
  width: 100%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid #D8D8D8;
  background: transparent;
  color: #1C1C1C; }

.form__input:focus {
  background: linear-gradient(to bottom, transparent, #D8D8D8);
  outline: none;
  border-bottom: 3px solid #D8D8D8; }

.form__textarea {
  min-height: 140px;
  resize: none; }

.form__input2 {
  width: 100%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid #6db4bf;
  background-color: #6db4bf;
  color: #ffffff; }

.form__imagen {
  flex: 1;
  padding: 10px;
  display: flex; }
  .form__imagen .img-container {
    padding: 10px;
    margin: auto; }
    .form__imagen .img-container .img__container2 {
      padding: 10px;
      background-color: #fff;
      border-radius: 100%;
      text-align: center;
      width: 400px; }
    .form__imagen .img-container .imag__imagen2 {
      width: 60%;
      margin: auto; }

.errorWeb {
  display: flex;
  flex-flow: row;
  margin-top: 10px; }
  .errorWeb__titulo {
    background-color: #100d07; }
  .errorWeb__imagen {
    margin-left: 270px;
    width: 60%; }

.text__h2 {
  width: 100%;
  background-color: #222221;
  text-align: center;
  color: white;
  font-family: 'Rubik', verdana, sans-serif;
  font-weight: 800;
  font-size: calc(1.6rem + 2.4vw);
  padding-top: calc(2vw + 2vh);
  padding-bottom: calc(2vw + 2vh);
  margin: 0;
  text-shadow: 0 0 .4rem #2E9AFE; }

.header__logo {
  font-family: "Rubik", verdana, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 3.5rem;
  margin-right: auto;
  margin-left: .5rem;
  color: #ffffff;
  text-shadow: 0 0 0.4rem #A9E2F3;
  transition: 250ms;
  outline: none;
  list-style: none; }

.header__logo--404 {
  font-size: calc(2rem + 4vw);
  line-height: 2;
  word-spacing: calc(.4vw + .4vh);
  text-shadow: 0 0 0.8rem #81BEF7;
  text-decoration: none; }

.lineaGradiente {
  width: 100%;
  height: .5rem;
  background: linear-gradient(270deg, #3db8ff, #2E9AFE, #3db8ff);
  background-size: 500% 500%;
  animation: lineaGradienteAnimation 20000ms linear infinite; }

.bigButton {
  font-family: "Rubik", verdana, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: calc(1.2rem + 1.8vw + 1.8vh);
  background: #222221;
  background-size: 200% 200%;
  color: #ffffff;
  border-radius: calc(1vw + 1vh);
  padding: calc(.5rem + .5vw + .5vh);
  margin: calc(3vw + 3vh) auto calc(3vw + 3vh) auto;
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  box-shadow: 0 0 .5rem 0 #191D32;
  text-shadow: 0;
  max-width: 90%;
  margin-left: 35%;
  text-align: center; }

.bigButton:hover, .bigButton:focus {
  padding-top: calc(.25rem + .5vw + .5vh);
  padding-bottom: calc(.25rem + .5vw + .5vh);
  animation: lineaGradienteAnimation 20000ms linear infinite;
  color: #A9BCF5; }

/*tablets */
@media only screen and (max-width: 952px) {
  .logo {
    display: none; }
  .banner {
    padding: 100px 90px; }
  .carousel2 {
    display: none; }
  .contenedor {
    display: grid;
    margin-left: 5px;
    grid-template-areas: "buzios zafiro" "casablanca casazul" "casaverde casarosa";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2 1fr); }
  .promo1 {
    font-size: 30px; }
  .contenedor_imagenPrincipal {
    width: 100px; }
  .contenedor__buttoncash {
    padding: 12px 24px;
    margin-top: 72px;
    background-Color: #0B243B;
    border-Radius: 7px;
    outline: 2px solid #0B243B;
    outline-offset: 2px;
    transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1); }
  .contenedor__p-descripion {
    width: 200px;
    font-size: 15px;
    text-align: left; }
  .consejo1 {
    font-size: 30px;
    text-align: center; }
  .consejop {
    font-size: 15px; }
  .tablaconsejos {
    margin-top: 10px;
    margin-left: 5px;
    width: 20px;
    height: 30px; }
  .consejos2 {
    padding: 5px 3px;
    font-size: 10px; }
  .mediosdepago__texto {
    display: none; }
  .carrusel {
    display: none; }
  /*Footer */
  .pie {
    display: inline-flex;
    justify-content: space-around;
    height: 200px;
    width: 100%; }
  .pie__flextitulo {
    font-size: 12px; }
  .pie__flex2 {
    font-size: 15px; }
  .pie__dato {
    font-size: 10px; }
  .pie__new {
    margin-left: 130px; }
  .pie__datoa {
    text-decoration: none; } }

@media only screen and (max-width: 767px) {
  #logotipo {
    background-color: #0B0B3B;
    color: #ffff; }
  .logotipo {
    display: none; }
  .logotipo__img {
    display: none; }
  .carousel2 {
    display: none; }
  /*productos inicios*/
  .contenedor {
    display: grid;
    margin-left: 5px;
    grid-template-areas: "buzios zafiro" "casablanca casazul" " casaverde casarosa";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr); }
  .promo1 {
    font-size: 30px;
    text-align: left; }
  .contenedor_imagenPrincipal {
    width: 100px; }
  .consejo1 {
    font-size: 30px; }
  .consejop {
    font-size: 15px; }
  table {
    margin-top: 20px;
    margin-left: 2%;
    width: 50px;
    height: 60px; }
  .consejos2 {
    padding: 5px 3px;
    font-size: 10px; }
  .mediosdepago__texto {
    display: none; }
  .carrusel {
    display: none; }
  /*Colchones*/
  #colchonContenedor {
    width: 80%;
    margin: 30px 80px;
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: "matter1 matter2 matter3" "matter4 matter5 matter6";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px; }
  /* dato conteiner*/
  .dato__conteiner {
    margin: 10px;
    display: grid;
    justify-content: space-between;
    grid-template-areas: "descanso" "descanso1" "descanso2";
    grid-template-columns: 1fr 1fr 1fr; }
  .dato__text1 {
    font-size: 15px;
    width: 100%;
    text-align: left;
    padding-right: 20px; }
  .dato__text2 {
    font-size: 15px;
    width: 100%;
    text-align: left;
    padding-right: 54px; }
  .dato__text3 {
    font-size: 15px;
    width: 100%;
    text-align: left;
    padding-right: 69px; }
  /*Sommier */
  #SommierContenedor {
    width: 90%;
    margin: 12px;
    /* margin-left: 9rem; */
    display: grid;
    grid-template-areas: "sommier1 sommier2 sommier3" "sommier4 sommier5 sommier6";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px; }
  /*footer*/
  .pie {
    display: inline-flex;
    justify-content: space-around;
    width: 100%; }
  .pie__flex2 {
    font-size: 12px; }
  .pie__dato {
    font-size: 20px; }
  .a_piedato {
    text-decoration: none; }
  /*contactanos*/
  .text__h3 {
    height: 190px; }
  .formulario {
    min-width: 70px;
    flex: 1;
    text-align: center;
    padding: 20px; }
  .contactInfo__ul {
    font-size: 25px; } }

/* Nosotros */
.nosotrosFoto__foto1 {
  /* margin-left: 100px; */
  z-index: 1; }

.nosotros__texto {
  height: 307px;
  width: 549px;
  background-color: #bca294;
  opacity: 90%;
  padding: 20px;
  margin: -100px;
  border: 1px solid #000000;
  z-index: 2; }

/*tel moviles */
@media only screen and (max-width: 420px) {
  #logotipo {
    background-color: #0B0B3B;
    color: #ffff; }
  .logotipo {
    display: none; }
  .logotipo__img {
    display: none; }
  .navbar {
    background-color: #585858; }
  .d-flex {
    display: none !important; }
  .promociones__titulo {
    font-size: 40PX;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #000; }
  .promociones__divtitulo {
    display: none; }
  .carouselGallery__imgContainer {
    width: 70%; }
  .cabezera {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .banner {
    display: none; }
  #promociones {
    margin-top: 100px; }
  #carouselGalleryA {
    display: none; }
  .contenedor {
    display: grid;
    margin-left: 5px;
    grid-template-areas: "buzios zafiro" "casablanca casarosa " " casaverde casaazul";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr); }
  .contenedor__p-descripion {
    width: 200px;
    font-size: 15px;
    text-align: left; }
  .promo1 {
    font-size: 30px; }
  .contenedor__imagenPrincipal {
    width: 150px; }
  .consejo1 {
    font-size: 30px;
    text-align: center; }
  .consejop {
    font-size: 15px; }
  table {
    margin-top: 20px;
    margin-left: 2%;
    width: 50px;
    height: 60px; }
  .consejos2 {
    padding: 5px 3px;
    font-size: 10px; }
  .contenedor__consejos2 {
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    text-align: left;
    margin-left: 1rem;
    margin-top: 50px;
    word-spacing: 2px; }
  .mediosdepago__texto {
    display: none; }
  .carrusel {
    display: none; }
  /*Footer */
  .pie-flex {
    display: inline-flex;
    justify-content: space-around;
    height: 10px;
    width: 100%; }
  .pie__flextitulo {
    font-size: 9px; }
  .pie__flex2 {
    font-size: 12px;
    margin-left: 50px; }
  .pie__divdato {
    font-size: 10px; }
  .pie__new {
    display: none;
    font-size: 12px; }
  .a_piedato {
    text-decoration: none;
    font-size: 10px; }
  /*colchones*/
  .bannercolchones {
    display: none; }
  .nuestros_colchonesdiv {
    margin-top: 30px; }
  #colchonContenedor {
    width: 100%;
    margin: 30px;
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: "matter1 matter2 " "matter4 matter5" "matter3 matter6";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px; }
  .unocolchon {
    grid-area: matter1; }
  .doscolchon {
    grid-area: matter2; }
  .trescolchon {
    grid-area: matter3; }
  .cuatrocolchon {
    grid-area: matter4; }
  .cincocolchon {
    grid-area: matter5; }
  .seiscolchon {
    grid-area: matter6; }
  .imagenColchon {
    width: 130px;
    border-radius: 10px; }
  .datosColchones {
    display: none; }
  /* Sommier */
  .bannersommier {
    display: none; }
  .text-center2 {
    color: #000;
    margin-left: 2em; }
  .accordion {
    margin-left: 3rem;
    width: 75%; }
  .opciones__sommier2 {
    margin-top: 6rem;
    margin-left: 1rem;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    color: #000; }
  #SommierContenedor {
    width: 80%;
    margin: 10px 30px;
    display: grid;
    grid-template-areas: "sommier1 sommier2" "sommier4 sommier5 " "sommier6 sommier3";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px; }
  section.sommier {
    width: 200px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #b8b8b8; }
  .unosommier {
    grid-area: sommier1; }
  .dossommier {
    grid-area: sommier2; }
  .tressommier {
    grid-area: sommier3; }
  .cuatrosommier {
    grid-area: sommier4; }
  .cincosommier {
    grid-area: sommier5; }
  .seissommier {
    grid-area: sommier6; }
  .imagenSommier {
    width: 130px;
    border-radius: 10px; }
  /* Nosotros */
  .bannerQuienes {
    display: none; }
  .tituloNosotros {
    margin: 50px; }
  .nosotrosFoto__foto1 {
    display: none; }
  .nosotrosFoto_foto2 {
    display: none; }
  .nosotros__texto {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 10%; }
  /*contactanos*/
  .text__h3 {
    height: 190px; }
  .bannerContactanos {
    display: none; }
  .formulario {
    min-width: 70px;
    flex: 1;
    text-align: center;
    padding: 20px; }
  .text__texto {
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    margin-left: 2rem;
    margin-top: 20px; }
  .contactInfo__ul {
    font-size: 1rem; }
  .flex__conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #FBF5EF;
    margin: 50px 50px;
    width: 60%; } }
