.bannerContactanos {
    padding: 100px 120px;
    background-image: url(../imagenes/bannerContacto.png);
    background-size: cover;
   

    &__h1 {
        @extend %bannerTitulo;
    }
}


    .contactInfo {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin: calc(4vw + 4vh) auto calc(2vw + 2vh) auto; }
        .contactInfo__gmap {
          width: 45vw;
          max-width: 80vw;
          height: 50vh;
          border: 0.1rem solid #191D32;
          border-radius: calc(.5vw + .5vh); }
        .contactInfo__ul {
          text-align: left;
          width: 45vw;
          max-width: 80vw;
          color: #191D32;
          font-family: "Rubik", verdana, sans-serif;
          font-weight: 400;
          font-style: italic;
          font-size: 1.5rem;
          line-height: 1.5; 
          list-style: none;}
        .contactInfo__li {
          margin: 2.5vw; }
      
    .text__h3 {
        display:flex;
        font-family: "Rubik", verdana, sans-serif;
        font-weight: 800;
        font-size: 25px;
        background-color: #6db4bf;
        color: #ffffff;
        width: 100%;
        height: 5rem;
        text-align: center;
        margin-top: calc(2vw + 2vh);
        }
    .text__texto{
        justify-content: center;
        text-decoration: none;
        color: #ffffff;
        margin-left: 90px;
        margin-top:20px;
    }

        .flex__conteiner {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            background: #FBF5EF;
            margin: 50px 50px;
            margin-left: 15rem;
            width:60%;

        }
            .formulario {
                min-width: 400px;
                flex: 1;
                text-align: center;
                padding: 20px;
                background-color: #F2F2F2;
            }
                .form__input {
                    width: 100%;
                    padding: 7px;
                    margin: 6px 0;
                    border: none;
                    border-bottom: 3px solid #D8D8D8;
                    background: transparent;
                    color: #1C1C1C;
                }
                    .form__input:focus {
                        background: linear-gradient(to bottom, transparent, #D8D8D8);
                        outline: none;
                        border-bottom: 3px solid #D8D8D8    ;
                }
                .form__textarea {
                    min-height: 140px;
                    resize: none;
                    }
                
                .form__input2 {
                width: 100%;
                padding: 7px;
                margin: 6px 0;
                border: none;
                border-bottom: 3px solid #6db4bf;
                background-color: #6db4bf;
                color: #ffffff;
                } 
        
                
            .form__imagen {
                flex: 1;
                padding: 10px;
                display: flex;
        
                .img-container {
                    padding: 10px;
                    margin: auto;
        
                .img__container2 {
                        padding: 10px;
                        background-color: #fff;
                        border-radius:100%;
                        text-align: center;
                        width: 400px;
                    }
                        .imag__imagen2 {
                            width: 60%;
                            margin: auto;
                        }  
                }
            } 
        