* {
    margin: 0;
    padding: 0;
}


#logotipo {
    margin: 0;
    background-color: #222221;
}

.logotipo__img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.navbar {
    background-color: #222221;
}

.container-fluid1 {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;

}

.navbar-light .navbar-nav .nav-link {
    color: #ffff;
    font-size: 1.5rem;
}


.navbar-light .navbar-nav .nav-link.active {
    color: #ffffff;
    font-size: 1.5rem;
}

.navbar-collapse {
    margin-top: 10px;
}


.d-flex {
    margin-left: 300px;
}


.form-control {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.btn-outline-success {
    color: #fff;
    background-color: #4CADC9;
    border-color: #4CADC9;
}



.banner {
    padding: 100px 120px;
    background-image: url(../imagenes/bannercama6.png);
    background-size: cover;

    &__titulo {
        font-size: map-get($tamaño, medio);
        padding: 30px 10px;
        letter-spacing: 15px;
        font-family: "MangoSans",sans-serif; 
    }
}


.promociones__divtitulo{
    font-size:40px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #000;
    margin-top:50px;

}

/*Carrusel */ 

.carouselGallery {
    margin: calc(4vw + 4vh) auto calc(2vw + 2vh) auto;
}

.carouselGallery__imgContainer {
    padding: 0;
}

.carouselGallery__img {
    border: .5rem solid transparent;
    border-image: 1px solid #F2F2F2;
    border-image-slice: 1;
    cursor: pointer;
    transition: 5ms;
    margin: auto;
    width: 80%;
    max-width: MIN(350px, 22vw);
    min-width: 280px;
    height: auto;
    box-sizing: content-box;

    outline: 1px solid transparent;
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    perspective: 1000;
    cursor:none;

}

.carouselGallery__img:hover,
.carouselGallery__img:focus {
    border: .5rem solid;
    animation: borderAnimation 2000ms linear infinite;
    box-shadow: none;
}

.carouselGallery__prev {
    left: -4%;
}

.carouselGallery__prev__icon {
    opacity: .5;
    background-color: rgba(25, 29, 50, 0.5);
}

.carouselGallery__next {
    right: -4%;
}

.carouselGallery__next__icon {
    opacity: .5;
    background-color: rgba(25, 29, 50, 0.5);
}

.carouselGalleryB,
.carouselGalleryC {
    display: none;
}

.container-fluid{
    width:92%;

}

.container-fluid {
    width: 92%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto; 
    margin-left: auto;
}


.carousel2{
    display:none;
}


/*Promociones */

.promociones {
    background-color: white;

    &__div {
        margin-bottom: 50px;
    }

    &__titulo {
        font-size: map-get($tamaño, total);
        font-family: 'Merriweather', serif;
        text-align: center;
        color: #0B0B61;
        margin-top: 10px;
    }

}

.contenedor {
   /* width: 80%; */
    margin-left: 7rem;
    display: grid;
    grid-template-areas:
        "buzios zafiro casablanca"
        "casazul casaverde casarosa";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
   /* padding: 40px;*/  
}

.contenedor__p-descripion {
    justify-content: center;
    padding: 2px;
    text-align: center;
    height: 50px;
    width: 440px;
}

section.contenedor {
    width: 200px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(184, 184, 184);
}

.uno {
    grid-area: buzios;
}

.dos {
    grid-area: zafiro;
}

.tres {
    grid-area: casablanca;
}

.cuatro {
    grid-area: casazul;
}

.cinco {
    grid-area: casaverde;
}

.seis {
    grid-area: casarosa;
}

.contenedor__imagenPrincipal {
    /*width: 250px;*/
    border-radius: 10px;
}

.contenedor__buttoncash {
    padding: 12px 24px;
    margin-top: 30px;
    background-Color: #0B243B;
    border-Radius: 7px;
    outline: 2px solid #0B243B;
    outline-offset: 2px;
    transition: transform 250ms cubic-bezier(.2, .8, .4, 1);
}

.contenedor__buttoncash:hover {
    transform: scale(1.10);
}

.contenedor__buttoncash:active {
    transform: scale(0.9);
}

.contenedor__buttoncash a {
    text-decoration: none;
    color: #D8D8D8;
}

.contenedor__p-descripion {
    width: 300px;
    font-size: map-get($tamaño, pequeño);
    text-align: left;
}

#consejos {
    display: grid;
}

.contenedor__consejos {
    font-family: "Rubik", verdana, sans-serif;
    font-weight: 800;
    /*font-style: normal;*/
    font-size: 25px;
    background-color: #4CADC9;
    color: #ffffff;

    /*text-shadow: 0 0 0.4rem #0489B1;*/
    text-align: center;
    margin-top: calc(2vw + 2vh);
}

.contenedor__consejo1 {
    font-size: map-get($tamaño, total);
    font-family: $font-principal;
    text-align: center;
    padding: 20px 0;
}

.contenedor__consejop {
    font-size: map-get($tamaño, estandar);
    font-family: $font-principal;
    text-align: center;
    padding: 10px 0px;
}

.promociones__titulo1 {
    font-size: 40PX;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #000;
    margin-top: 150px;
}

/*Tabla*/
.consejos__tabla {
    margin: 90px 60px 0 60px;
    border-collapse: collapse;
}

table,
th {
    background-color: #9499c4;
    border: 1px solid #0B2161;
}

table,
td {
    background-color: white;
    border: 1px solid #0B2161;
}

.contenedor__consejos2 {
    font-size: map-get($tamaño, estandar);
    font-family: $font-principal;
    text-align: left;
    margin-left: 3rem;
    margin-top: 50px;
    word-spacing: 2px;
}

.contenedor__consejoTitulo {
    color: #000;
    font-family: $font-principal;

}
.contenedor__parrafo{
    color:#888888;
    }





/*Carrusel 2 */
.carrusel {
    background-color: #FFFFFF;
    /* width: 80%; 
    margin-left: 10%; */
}

.d-block1 {
    width: 500px;
    margin-left: 350px;
    margin-bottom: 40px;
}

.carousel-control-prev-icon {
    color: #000;
}

.carousel-control-next {
    color: #BDBDBD;
}

.mediosdepago__texto {
    color: #000;
    margin-top: 50px;
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-family: $font-principal;
}


/*FOOTER */
.pie {
    display: inline-flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    min-height: 20vh;
    background-color: #222221;
    text-decoration: none;
    margin-top: 10px;

    &__titulo {
        margin: 10px;
        align-self: center;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        color: #ffff;


        &__flex2 {
            font-size: map-get($tamaño, pequeño);
        }
    }

    .pie__divdato {
        display: block;
        flex-wrap: wrap;
        align-self: center;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        color: #ffff;
    }

    &__item {
        list-style: none;
    }

    &__datoa {
        font-family: $font-principal;
        text-decoration: none;
        color: #ffff;
    }

    &__new {
        justify-content: left;
        font-family: $font-principal;
        color: #ffff;
        align-self: center;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
    }
}

.mapa {
    color: #ffff;
    text-decoration: none;
    list-style: none;


    &__titulo {
        font-size: 20px;
        font-family: $font-principal;
        margin-top:1rem;

    }
}