/*tablets */
@media only screen and (max-width: 952px) {


    .logo {
        display: none;
    }

    .banner {
        padding: 100px 90px;
    }


    .contenedor {
        display: grid;
        margin-left: 5px;
        grid-template-areas:
            "buzios zafiro"
            "casablanca casazul"
            "casaverde casarosa";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2 1fr);
    }

    .promo1 {
        font-size: 30px;
    }

    .contenedor_imagenPrincipal {
        width: 100px;
    }

    .consejo1 {
        font-size: 30px;
        text-align: center;
    }

    .consejop {
        font-size: 15px;
    }

    .tablaconsejos {
        margin-top: 10px;
        margin-left: 5px;
        width: 20px;
        height: 30px;
    }

    .consejos2 {
        padding: 5px 3px;
        font-size: 10px;
    }

    .mediosdepago__texto {
        display: none;
    }

    .carrusel {
        display: none;

    }

    .pie {
        display: inline-flex;
        justify-content: space-around;
        height: 200px;
        width: 100%;
    }

    .pie__flextitulo {
        font-size: 12px;
    }

    .pie__flex2 {
        font-size: 15px;
    }

    .pie__dato {
        font-size: 10px;
    }

    .pie__new{
            margin-left:130px;
    }

    .pie__datoa {
        text-decoration: none;
    }

}


@media only screen and (max-width:767px) {

    #logotipo {
        background-color: #0B0B3B;
        color: #ffff
    }

    .logotipo {
        display: none;
    }

    .logotipo__img {
        display: none;
    }

    /*productos inicios*/

    .contenedor {
        display: grid;
        margin-left: 5px;
        grid-template-areas:
            "buzios zafiro"
            "casablanca casazul"
            " casaverde casarosa";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .promo1 {
        font-size: 30px;
        text-align: left;

    }

    .contenedor_imagenPrincipal {
        width: 100px;
    }

    .consejo1 {
        font-size: 30px;
    }

    .consejop {
        font-size: 15px;
    }

    table {
        margin-top: 20px;
        margin-left: 2%;
        width: 50px;
        height: 60px;
    }

    .consejos2 {
        padding: 5px 3px;
        font-size: 10px;
    }

    .mediosdepago__texto {
        display: none;
    }

    .carrusel {
        display: none;
    }
    

    /*footer*/
    .pie {
        display: inline-flex;
        justify-content: space-around;

        width: 100%;
    }


    .pie__flex2 {
        font-size: 12px;
    }

    .pie__dato {
        font-size: 20px;
    }


    .a_piedato {
        text-decoration: none;
    }


    

    /*contactanos*/

    .text__h3 {
        height: 190px;

    }

    .formulario {
        min-width: 70px;
        flex: 1;
        text-align: center;
        padding: 20px;

    }

    .contactInfo__ul {
        font-size: 25px;
    }


}


/*tel moviles */
@media only screen and (max-width:420px) {

    #logotipo {
        background-color: #0B0B3B;
        color: #ffff
    }

    .logotipo {
        display: none;
    }

    .logotipo__img {
        display: none;
    }

    .d-flex{

        display: none!important;
    }
    .promociones__titulo {
        font-size: 40px;
    }

    .carouselGallery__imgContainer {
        width: 70%;
    }

    .cabezera {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .banner {
        display: none;
    }

    #promociones {
        margin-top: 100px;
    }



    .contenedor {
        display: grid;
        margin-left: 5px;
        grid-template-areas:
            "buzios "
            "casablanca "
            " casaverde ";
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }


    .promo1 {
        font-size: 30px;

    }

    .contenedor_imagenPrincipal {
        width: 100px;
    }

    .consejo1 {
        font-size: 30px;
        text-align: center;
    }

    .consejop {
        font-size: 15px;
    }

    table {
        margin-top: 20px;
        margin-left: 2%;
        width: 50px;
        height: 60px;
    }

    .consejos2 {
        padding: 5px 3px;
        font-size: 10px;
    }


    .mediosdepago__texto {
        display: none;
    }

    .carrusel {
        display: none;

    }

    /*Footer */

    .pie-flex {
        display: inline-flex;
        justify-content: space-around;
        height: 10px;
        width: 100%;
    }

    .pie__flextitulo {
        font-size: 9px;
    }

    .pie__flex2 {
        font-size: 12px;
        margin-left: 50px ;
    }
    .pie__divdato {
    font-size: 10px;
 }
    .pie__new {
        display: none;
        font-size: 12px;
    }

    .a_piedato {
        text-decoration: none;
        font-size: 10px;
    }



    /*colchones*/
    .bannercolchones {
        display: none;
    }

    .nuestros_colchonesdiv {
        margin-top: 30px;
    }

    #colchonContenedor {
        width: 100%;
        margin: 30px 80px;
        display: grid;
        justify-content: space-evenly;
        grid-template-areas:
            "matter1 matter2 "
            "matter4 matter5"
            "matter3 matter6";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    .unocolchon {
        grid-area: matter1
    }

    .doscolchon {
        grid-area: matter2
    }

    .trescolchon {
        grid-area: matter3
    }

    .cuatrocolchon {
        grid-area: matter4
    }

    .cincocolchon {
        grid-area: matter5
    }

    .seiscolchon {
        grid-area: matter6
    }

    .imagenColchon {
        width: 250px;
        border-radius: 10px;
    }

    .datosColchones {
        display: none;
    }

    /* Sommier */
    #SommierContenedor {
        width: 80%;
        margin: 10px 30px;
        display: grid;
        grid-template-areas:
            "sommier1 sommier2"
            "sommier4 sommier5 "
            "sommier6 sommier3";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    section.sommier {
        width: 200px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid rgb(184, 184, 184);
    }

    .unosommier {
        grid-area: sommier1
    }

    .dossommier {
        grid-area: sommier2
    }

    .tressommier {
        grid-area: sommier3
    }

    .cuatrosommier {
        grid-area: sommier4
    }

    .cincosommier {
        grid-area: sommier5
    }

    .seissommier {
        grid-area: sommier6;
    }


    /* Nosotros */
    .bannerQuienes {
        display: none;
    }

    .tituloNosotros {
        margin: 50px;
    }

    .nosotrosFoto__foto1 {
        display: none;
    }

    .nosotrosFoto_foto2 {
        display: none;
    }

    .nosotros__texto {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        height: 10%;
    }

    /*contactanos*/

    .text__h3 {
        height: 190px;

    }

    .formulario {
        min-width: 70px;
        flex: 1;
        text-align: center;
        padding: 20px;

    }

    .contactInfo__ul {
        font-size: 25px;
    }


}