/*tablets */
@media only screen and (max-width: 952px) {


    .logo {
        display: none;
    }

    .banner {
        padding: 100px 90px;
    }

    .carousel2{
        display:none;
    }

    .contenedor {
        display: grid;
        margin-left: 5px;
        grid-template-areas:
            "buzios zafiro"
            "casablanca casazul"
            "casaverde casarosa";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2 1fr);
    }

    .promo1 {
        font-size: 30px;
    }

    .contenedor_imagenPrincipal {
        width: 100px;
    }

    .contenedor__buttoncash {
        padding: 12px 24px;
        margin-top: 72px;
        background-Color: #0B243B;
        border-Radius: 7px;
        outline: 2px solid #0B243B;
        outline-offset: 2px;
        transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
    }
   
    .contenedor__p-descripion {
        width: 200px;
        font-size: 15px;
        text-align: left;
    }

    .consejo1 {
        font-size: 30px;
        text-align: center;
    }

    .consejop {
        font-size: 15px;
    }

    .tablaconsejos {
        margin-top: 10px;
        margin-left: 5px;
        width: 20px;
        height: 30px;
    }

    .consejos2 {
        padding: 5px 3px;
        font-size: 10px;
    }

    .mediosdepago__texto {
        display: none;
    }

    .carrusel {
        display: none;

    }

   


    /*Footer */ 
    .pie {
        display: inline-flex;
        justify-content: space-around;
        height: 200px;
        width: 100%;
    }

    .pie__flextitulo {
        font-size: 12px;
    }

    .pie__flex2 {
        font-size: 15px;
    }

    .pie__dato {
        font-size: 10px;
    }

    .pie__new{
            margin-left:130px;
    }

    .pie__datoa {
        text-decoration: none;
    }

}


@media only screen and (max-width:767px) {

    #logotipo {
        background-color: #0B0B3B;
        color: #ffff
    }

    .logotipo {
        display: none;
    }

    .logotipo__img {
        display: none;
    }

    .carousel2{
        display:none;
    }

    /*productos inicios*/

    .contenedor {
        display: grid;
        margin-left: 5px;
        grid-template-areas:
            "buzios zafiro"
            "casablanca casazul"
            " casaverde casarosa";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .promo1 {
        font-size: 30px;
        text-align: left;

    }

    .contenedor_imagenPrincipal {
        width: 100px;
    }

    .consejo1 {
        font-size: 30px;
    }

    .consejop {
        font-size: 15px;
    }

    table {
        margin-top: 20px;
        margin-left: 2%;
        width: 50px;
        height: 60px;
    }

    .consejos2 {
        padding: 5px 3px;
        font-size: 10px;
    }

    .mediosdepago__texto {
        display: none;
    }

    .carrusel {
        display: none;
    }
    
 /*Colchones*/
 #colchonContenedor {
    width: 80%;
    margin: 30px 80px;
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: "matter1 matter2 matter3"
  "matter4 matter5 matter6";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}


/* dato conteiner*/

.dato__conteiner {
    margin: 10px;
    display: grid;
    justify-content: space-between;
    grid-template-areas: "descanso"
  "descanso1"
  "descanso2";
    grid-template-columns: 1fr 1fr 1fr;
}


.dato__text1 {
    font-size: 15px;
    width: 100%;
    text-align: left;
    padding-right: 20px;
}

.dato__text2 {
    font-size: 15px;
    width: 100%;
    text-align: left;
    padding-right: 54px;
   
}

.dato__text3 {
    font-size: 15px;
    width: 100%;
    text-align: left;
    padding-right: 69px;
     
}

/*Sommier */ 
#SommierContenedor {
    width: 90%;
    margin: 12px;
    /* margin-left: 9rem; */
    display: grid;
    grid-template-areas: "sommier1 sommier2 sommier3"
  "sommier4 sommier5 sommier6";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}


    /*footer*/
    .pie {
        display: inline-flex;
        justify-content: space-around;

        width: 100%;
    }


    .pie__flex2 {
        font-size: 12px;
    }

    .pie__dato {
        font-size: 20px;
    }


    .a_piedato {
        text-decoration: none;
    }



    

    /*contactanos*/

    .text__h3 {
        height: 190px;

    }

    .formulario {
        min-width: 70px;
        flex: 1;
        text-align: center;
        padding: 20px;

    }

    .contactInfo__ul {
        font-size: 25px;
    }


}

/* Nosotros */ 

.nosotrosFoto__foto1 {
    /* margin-left: 100px; */
    z-index: 1;
}

.nosotros__texto {
    height: 307px;
    width: 549px;
    background-color: #bca294;
    opacity: 90%;
    padding: 20px;
    margin: -100px;
    border: 1px solid #000000;
    z-index: 2;
}

/*tel moviles */

@media only screen and (max-width:420px) {

    #logotipo {
        background-color: #0B0B3B;
        color: #ffff
    }

    .logotipo {
        display: none;
    }

    .logotipo__img {
        display: none;
    }

    .d-flex{
        display: none!important;
    }
    .promociones__titulo {
        font-size: 40px;
    }
 .promociones__divtitulo{
     display:none;
 }
    .carouselGallery__imgContainer {
        width: 70%;
    }

    .cabezera {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .banner {
        display: none;
    }

    #promociones {
        margin-top: 100px;
    }


#carouselGalleryA{
    display:none;
}
    

    .contenedor {
        display: grid;
        margin-left: 5px;
        grid-template-areas:
            "buzios zafiro"
            "casablanca casarosa "
            " casaverde casaazul";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }


    .promo1 {
        font-size: 30px;

    }

    .contenedor__imagenPrincipal {
        width: 150px;
    }

    .consejo1 {
        font-size: 30px;
        text-align: center;
    }

    .consejop {
        font-size: 15px;
    }

    table {
        margin-top: 20px;
        margin-left: 2%;
        width: 50px;
        height: 60px;
    }

    .consejos2 {
        padding: 5px 3px;
        font-size: 10px;
    }


    .mediosdepago__texto {
        display: none;
    }

    .carrusel {
        display: none;

    }

    /*Footer */

    .pie-flex {
        display: inline-flex;
        justify-content: space-around;
        height: 10px;
        width: 100%;
    }

    .pie__flextitulo {
        font-size: 9px;
    }

    .pie__flex2 {
        font-size: 12px;
        margin-left: 50px ;
    }
    .pie__divdato {
    font-size: 10px;
 }
    .pie__new {
        display: none;
        font-size: 12px;
    }

    .a_piedato {
        text-decoration: none;
        font-size: 10px;
    }



    /*colchones*/
    .bannercolchones {
        display: none;
    }

    .nuestros_colchonesdiv {
        margin-top: 30px;
    }

    #colchonContenedor {
        width: 100%;
        margin: 30px;
        display: grid;
        justify-content: space-evenly;
        grid-template-areas:
            "matter1 matter2 "
            "matter4 matter5"
            "matter3 matter6";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    .unocolchon {
        grid-area: matter1
    }

    .doscolchon {
        grid-area: matter2
    }

    .trescolchon {
        grid-area: matter3
    }

    .cuatrocolchon {
        grid-area: matter4
    }

    .cincocolchon {
        grid-area: matter5
    }

    .seiscolchon {
        grid-area: matter6
    }

    .imagenColchon {
        width: 130px;
        border-radius: 10px;
    }

    .datosColchones {
        display: none;
    }

    /* Sommier */

    .bannersommier{
        display: none;
    }
    .text-center2 {
        color: #000;
        margin-left: 5rem;
    }

    .accordion {
        margin-left: 5rem;
        width: 75%;
    }

    .opciones__sommier2 {
        margin-top: 6rem;
        margin-left: 1rem;
        font-size: 30px;
        font-family: "Oswald", sans-serif;
        color: #000;
    }

    #SommierContenedor {
        width: 80%;
        margin: 10px 30px;
        display: grid;
        grid-template-areas:
            "sommier1 sommier2"
            "sommier4 sommier5 "
            "sommier6 sommier3";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    section.sommier {
        width: 200px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid rgb(184, 184, 184);
    }

    .unosommier {
        grid-area: sommier1
    }

    .dossommier {
        grid-area: sommier2
    }

    .tressommier {
        grid-area: sommier3
    }

    .cuatrosommier {
        grid-area: sommier4
    }

    .cincosommier {
        grid-area: sommier5
    }

    .seissommier {
        grid-area: sommier6;
    }


    .imagenSommier {
        width: 130px;
        border-radius: 10px;
    }

    /* Nosotros */
    .bannerQuienes {
        display: none;
    }

    .tituloNosotros {
        margin: 50px;
    }

    .nosotrosFoto__foto1 {
        display: none;
    }

    .nosotrosFoto_foto2 {
        display: none;
    }

    .nosotros__texto {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        height: 10%;
    }

    /*contactanos*/

    .text__h3 {
        height: 190px;

    }

    .formulario {
        min-width: 70px;
        flex: 1;
        text-align: center;
        padding: 20px;

    }

    .contactInfo__ul {
        font-size: 25px;
    }
    .flex__conteiner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        background: #FBF5EF;
        margin: 50px 50px;
        width: 60%;
    }


}