.bannersommier{
    padding: 100px 200px;
    background-image: url(../imagenes/bannercolchones.png);
    background-size: cover;
    height: 300px;
    &__h1{
    @extend %bannerTitulo;
    }
}

.opciones__sommier {
    margin-bottom: 5rem;
    margin-left: 10px;
    font-size: 60px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#000;
}


.text-center2 {
    color: #000;
    margin-left: 10rem;
    
}

.accordion {
    margin-left: 10rem;
    width: 75%;
}

#collapseOne {
    color: #380B61;
}

#collapseTwo {
    color: #380B61;

}

#collapseThree {
    color: #380B61;
}


.opciones__sommier2{
    margin-top: 6rem;
    margin-left: 10rem;
    font-size: 40px ;
    font-family: $font-principal;
    color: #000;
    }


#SommierContenedor {
    
   /* margin: 30px 80px;*/
   margin-left: 9rem;
    display: grid;
    grid-template-areas:
        "sommier1 sommier2 sommier3"
        "sommier4 sommier5 sommier6";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}

section.sommier {
    width: 200px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(184, 184, 184);
}

.unosommier {
    grid-area: sommier1
}

.dossommier {
    grid-area: sommier2
}

.tressommier {
    grid-area: sommier3
}

.cuatrosommier {
    grid-area: sommier4
}

.cincosommier {
    grid-area: sommier5
}

.seissommier {
    grid-area: sommier6;
}

.imagenSommier {
    width: 250px;
    border-radius: 10px;
}

.button__sommier {
    padding: 12px 24px;
    margin-top: 30px;
    background-Color: #0B243B;
    border-Radius: 7px;
    outline: 2px solid #0B243B;
    outline-offset: 2px;
    transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}

.button__sommier {
    @extend %botonesCompra;
    color: #fff;
}

.button__sommier:hover {
    transform: scale(1.10);
}

.button__sommiersactive {
    transform: scale(0.9);
}

.button__sommier a {
    text-decoration: none;
    color: #D8D8D8;
}


.info__elegir{
    margin-bottom:1rem;
    color:#000
}

.titulo__info{
    color:#000;
    font-size: 3rem;
    margin-top:8rem;
    margin-bottom:2rem;
    margin-left:3rem;
}

.text-sm-start{
    margin-bottom:2rem;
    margin-left:3rem;
    font-size: 20px;
    color: #888888;
}