$color-principal:#0000;
$color-texto:#0B2161;
$color-secundario:#380B61;
$color-botones:#0B243B;


$font-principal:'Oswald', sans-serif;
$font-secundaria:'Roboto', sans-serif;

$max-width:100%;

$borderNada:none;

$tamaño:(
    total:60px,
    medio:30px,
    estandar:20px,
    pequeño:15px
)